.W_main .W_main_head {
	width:100%;
	height:100px
}
.W_main .W_main_head .W_main_head_logo {
	width:1000px;
	margin:25px auto 0
}
.W_main .W_main_head .W_main_head_logo h6 {
	font-size:0
}
.W_main .W_main_head .W_main_head_logo h6 a {
	width:121px;
	display:block
}
.W_main .W_main_content {
	position:relative;
	width:100%;
	height:580px;
	background:#a5a5a5
}
.W_main .W_main_content .W_main_content_login {
	width:1000px;
	margin:0 auto;
	position:relative
}
.W_main .W_main_content .login-bg {
	position:absolute;
	width:100%;
	height:580px;
	top:0;
	left:0;
	background-repeat:no-repeat;
	background-position:top center
}
.W_login_mark {
	width:380px;
	height:460px;
	position:relative;
	background:#fff
}
.W_login_mark .login_tab {
	overflow:hidden;
	width:269px;
	margin:0 auto;
	padding:40px 0 20px
}
.W_login_mark .login_tab span {
	height:26px;
	line-height:26px;
	font-size:20px;
	color:grey;
	float:left;
	width:134px;
	text-align:center;
	cursor:pointer
}
.W_login_mark .login_tab span.on {
	color:#cc5252
}
.W_login_mark .login_tab em {
	float:left;
	background:#ddd;
	height:24px;
	font-size:0;
	width:1px;
	margin-top:1px
}
.W_login_mark .member_login {
	width:300px;
	margin:0 auto
}
.W_login_mark .member_login .login,.W_login_mark .member_login p input {
	width:100%;
	display:block;
	box-sizing:border-box;
	height:44px;
	margin-top:12px;
	line-height:44px;
	border:1px solid #ddd;
	padding-left:10px
}
.W_login_mark .member_login p.error input {
	border:1px solid #cc5252
}
.W_login_mark .member_login input::-webkit-input-placeholder {
	color:#ccc;
	font-size:14px
}
.W_login_mark .member_login .login {
	background:#cc5252;
	text-align:center;
	font-size:18px;
	color:#fff;
	margin-bottom:12px;
	border:none;
	padding:0;
	cursor:pointer
}
.W_login_mark .member_login .isLogin {
	padding-top:10px
}
.W_login_mark .member_login .isLogin em {
	margin:0 auto;
	display:block;
	width:24px
}
.W_login_mark .member_login p {
	overflow:hidden
}
.W_login_mark .member_login p a {
	color:#999;
	font-size:14px
}
.W_login_mark .member_login p.pos {
	position:absolute;
	bottom:24px;
	right:40px;
	padding-top:11px
}
.W_login_mark .member_login .pos_btm {
	position:absolute;
	bottom:50px;
	height:30px;
	right:10px;
	background:#6b6b6b;
	box-shadow:0 4px 6px 2px rgba(153,153,153,.5);
	border-radius:5px;
	line-height:30px;
	font-size:12px;
	color:#f5f5f5;
	width:322px;
	text-align:center
}
.W_login_mark .member_login .pos_btm:after {
	position:absolute;
	content:"";
	width:0;
	height:0;
	left:80%;
	margin-left:-2px;
	bottom:-4px;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-top:4px solid #6b6b6b;
	z-index:10
}
.W_login_mark .member_login .pos_btm strong {
	color:#fff;
	text-decoration:underline;
	cursor:pointer
}
.W_login_mark .member_login p.pos a {
	float:left;
	font-size:16px;
	color:#999;
	line-height:22px;
	position:relative
}
.W_login_mark .member_login p.pos a em {
	position:absolute;
	top:-11px;
	left:100px
}
.W_login_mark .member_login p.pos em {
	font-size:16px;
	color:#ccc;
	line-height:22px;
	float:left;
	width:25px;
	text-align:center
}
.W_login_mark .member_login i {
	font-size:14px;
	color:#cc5252;
	line-height:19px;
	margin-top:8px;
	display:block;
	padding-left:10px
}
.W_login_mark .member_login .identifying_code {
	position:relative
}
.W_login_mark .member_login .identifying_code img {
	position:absolute;
	right:1px;
	top:13px;
	width:98px;
	height:38px
}
.W_login_mark .member_login .message_code input {
	width:200px;
	margin-right:4px;
	float:left
}
.W_login_mark .member_login .message_code a {
	float:left;
	width:96px;
	height:44px;
	background:#b1b1b1;
	line-height:44px;
	text-align:center;
	font-size:14px;
	color:#fff;
	margin-top:12px
}
.W_login_mark .member_login .captcha_wrap input {
	width:200px;
	margin-right:4px
}
.W_login_mark .member_login .captcha_wrap .img-wrap {
	display:inline-block;
	width:94px;
	height:42px;
	border:1px solid #ddd;
	margin-top:12px
}
.W_login_mark .member_login .captcha_wrap img {
	width:100%;
	height:100%
}
.W_login_mark .code_login {
	position:relative
}
.W_login_mark .scan_code_login {
	margin-top:20px
}
.W_login_mark .scan_code_login .qr_code {
	width:340px;
	height:183px;
	margin:0 auto 20px;
	position:relative
}
.W_login_mark .scan_code_login .qr_code .qr_code_img {
	position:absolute;
	left:50%;
	margin-left:-91.5px;
	z-index:10;
	width:183px;
	height:183px
}
.W_login_mark .scan_code_login .qr_code .qr_code_img.on {
	left:0;
	margin-left:0
}
.W_login_mark .scan_code_login .qr_code .teaching_chart {
	position:absolute;
	right:0;
	opacity:0
}
.qr_code .lose_efficacy,.qr_code .lose_efficacy .content,.qr_code .lose_efficacy .mark {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:10
}
.qr_code .lose_efficacy .mark {
	background:#fff;
	opacity:.95
}
.qr_code .lose_efficacy .content {
	z-index:10
}
.qr_code .lose_efficacy .content p {
	margin-top:59px;
	font-size:16px;
	color:#333;
	line-height:21px;
	text-align:center
}
.qr_code .lose_efficacy .content a {
	width:100px;
	height:30px;
	background:#cc5252;
	font-size:14px;
	color:#fff;
	line-height:30px;
	border:none
}
.W_login_mark .scan_code_login p {
	font-size:16px;
	color:#666;
	line-height:21px;
	text-align:center;
	margin-bottom:12px
}
.W_login_mark .scan_code_login em {
	font-size:16px;
	color:#cc5252;
	cursor:pointer
}
.W_login_mark .scan_code_login i {
	font-size:16px;
	color:#999
}
.W_login_mark .scan_code_login a {
	width:160px;
	height:40px;
	margin:27px auto 0;
	display:block;
	border:1px solid #999;
	border-radius:100px;
	font-size:16px;
	color:#666;
	text-align:center;
	line-height:40px
}
.W_login_mark .download {
	background:#fff;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:11
}
.W_login_mark .download .qr {
	width:260px;
	height:260px;
	margin:0 auto;
	background:#fff;
	border:1px solid #ddd;
	box-shadow:0 0 6px 0 rgba(199,199,199,.5);
	border-radius:20px;
	position:relative
}
.W_login_mark .download .qr:before {
	content:"";
	width:0;
	height:0;
	left:50%;
	margin-left:-5px;
	bottom:-9px;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-top:10px solid #fff;
	position:absolute;
	z-index:10
}
.W_login_mark .download .qr:after {
	content:"";
	width:0;
	height:0;
	left:50%;
	margin-left:-5px;
	bottom:-10px;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-top:10px solid #ddd;
	position:absolute
}
.W_login_mark .download .qr .qr_codes {
	margin:14.3px
}
.W_login_mark .download a {
	width:160px;
	height:40px;
	border:1px solid #999;
	border-radius:100px;
	display:block;
	margin:10px auto 0;
	font-size:16px;
	color:#666;
	line-height:40px;
	text-align:center
}
.W_login_mark .scan_success {
	width:100%;
	position:absolute;
	left:0;
	top:-86px;
	background:#fff;
	z-index:11
}
.W_login_mark .scan_success i {
	margin:140px auto 0
}
.W_login_mark .scan_success .success {
	font-size:24px;
	color:#cc5252;
	line-height:24px;
	text-align:center;
	margin-top:28px
}
.W_login_mark .scan_success p {
	font-size:14px;
	color:#666;
	line-height:14px;
	padding-top:12px;
	text-align:center
}
.W_pt_footer {
	border-top:1px solid #eee;
	padding:50px 0;
	width:640px;
	margin:0 auto
}
.W_pt_footer p {
	display:block;
	text-align:center;
	font-size:12px;
	color:#999;
	line-height:20px
}
